$title-font: 'Secular One', sans-serif;
$paragraph-font: 'Mouse Memoirs', sans-serif;
$fira-sans-font: 'Fira Sans Condensed', sans-serif,; 
$italic: italic; 

$main-color: white;
$secondary-color: black;
$tertiary-color: #B40000;

$flex: flex;

$redes:(
    whatsapp: #00bb2d,
    instagram: #ff1493,
    facebook: #1383eb,
    tiktok: $main-color
)