.footer{
    background-color: $secondary-color;
    margin-top: 10px;
    a {
        @include flex-direction-justify-align(row, center, center)
    }
    .footerDiv{
        .footerLogo{
            padding-top: 20px;
            .logoFooter{
                width: 30%;
                @include flex-direction-justify-align(row, center, center)
            }
        }
        .footerRRSS{
            @include flex-direction-justify-align(row, space-evenly, center);
            width: 100%;
            padding-top: 40px;
            .footerRedes{
                text-decoration: none;
                width: 25%;
                .iconWhatsapp{
                    @include flex-direction-align (row, center); 
                    font-size: 100%;
                    color: map-get($redes, whatsapp);
                }
                .iconInstagram{
                    @extend .iconWhatsapp;
                    color: map-get($redes, instagram);
                }
                .iconFacebook{
                    @extend .iconWhatsapp;
                    color: map-get($redes, facebook);
                }
                .iconTiktok{
                    @extend .iconWhatsapp;
                    color: map-get($redes, tiktok);
                }
            }
        }
        .footerMediosDePago{
            @include flex-direction-justify-align(row, space-evenly, center);
            width: 100%;
            .iconMediosDePago{
                font-size: 100%;
                margin-top: 2%;
                color: $main-color;
            }
            .imgFooterMediosDePago{
                @include flex-direction-align(row, center);
                margin-top: 2%;
                width: 30px;
            }
        }
    }
    .footerDivCont{
        .contacto{
            @include flex-direction-justify(row, space-between);
            flex-wrap: wrap;
            width: 100%;
            .footerContactanos{
                @include flex-direction(column);
                font-family: $paragraph-font;
                font-size: 1.4rem;
                .contactoParrafo{
                    @include flex-direction-align(row, center);
                    color: $main-color;
                }
                .footerContacto{
                    font-size: 100%;
                    margin: 8px 5px;
                }
            }
            .footerMapa{
                margin: auto;
            }
        }
    }
}