.header{
    width: 100%;
    background-color: $main-color;
    font-style: normal;
    font-family: $paragraph-font;
    font-size: 1.2rem;
    @include flex-direction-justify (row, space-between);
    .navbar{
        @include flex-direction-justify-align (row, space-between, center);
        width: 100%;
        .logoHeader{
            width: 200px;
            height: 8vh;
        }
        .margins{
            margin-left: auto;
            margin-right: auto;
        }
    }
    .colorCarrito{
        color: black;
        font-size: 80%;
        cursor: pointer;
    }
}