.imgProductos{
    background-color: whitesmoke;
    display: $flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .productos{
        display: $flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;
        .imgProductosMedidas{
            display: $flex;
            width: 100%;
            padding: 7px;
        }
    }
}