.imgProductos{
    background-color: whitesmoke;
    display: $flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .card_fuente{
        font-style: $italic;
    }
}

#contenedor-productos {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.producto {
    max-width: 20%;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}

.modal-contenedor{
    display:flex;
    align-items: center;
    gap:2rem;
}
.img-carrito{
    width:200px;
    padding:20px;
} 

.colorButton{
    background-color: $tertiary-color;
    color: $main-color;
    border: 0.5px solid black;
}

.fuente-parrafo{
    font-family: $fira-sans-font;
}

.btn{
    margin: 10px 10px;
}

.color-boton-continuar{
    background-color: #4CAF50;
    color: white;
    border: 0.5px solid black;
}

.btn-seguir-comprando{
    background-color: $tertiary-color;
    color: $main-color;
    border: 0.5px solid black;
}