@media screen and (min-width: 1200px) {
    .header{
        font-size: 2.5rem;
        .navbar{
            @include flex-direction-justify-align (row, center, center);
            width: 100%;
            li{
                padding: 0px 5px;
            }
            .logoHeader{
                width: 250px;
                height: 8vh;
            }
        }
    }

    .searchDesktop{
        width: 20%;
    }

    .tituloPrincipal{
        .titulo{
            font-size: 4rem;
        }
    }

    .dropdown{
        display: none;
    }

    .imgProductos{
        .productos{
            width: 30%;
            overflow: hidden;
            .imgProductosMedidas{
                width: 100%;
                transition: 0.5s;
                object-fit: cover;
                margin: 20px;
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
    }

    h3{
        font-size: 2.2rem;
    }

    .formulario{
        justify-content: center;
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        .button{
            cursor: pointer;
            color: $secondary-color;
        }
    }

    .footer{
        @include flex-direction (row);
        width: 100%;
        .footerDiv{
            width: 50%;
            .footerLogo{
                width: 30%;
                @include flex-direction-justify-align (column, center, center);
                a{
                    @include flex-direction-justify-align (row, center, center);
                    text-align: center;
                }
            }
            .footerRRSS{
                width: 40%;
                .footerRRSS{
                    .footerRedes{
                        .iconWhatsapp{ 
                            font-size: 200%;
                        }
                        .iconInstagram{
                            font-size: 200%;
                        }
                        .iconFacebook{
                            font-size: 200%;
                        }
                        .iconTiktok{
                            font-size: 200%;
                        }
                    }
                }
            }
            .footerMediosDePago{
                width: 10%;
                @include flex-direction (column);
            }
        }
        .footerDivCont{
            width: 50%;
            .contacto{
                .footerContactanos{
                    width: 50%;
                    padding: 10px;
                    justify-content: center;
                }
                .footerMapa{
                    width: 50%;
                    padding-top: 10px;
                }
            }
        }
    }
}